@page
@model OfficeManagement.Pages.UserMessages.DetailsModel
@{
    ViewData["Title"] = "Message Details";
}

<h1>Message Details</h1>

<div>
    <h4>Message</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">From</dt>
        <dd class="col-sm-10">@Model.Message.FromUser?.UserName</dd>

        <dt class="col-sm-2">To</dt>
        <dd class="col-sm-10">@Model.Message.ToUser?.UserName</dd>

        <dt class="col-sm-2">Message</dt>
        <dd class="col-sm-10">@Model.Message.Content</dd>

        <dt class="col-sm-2">Date Sent</dt>
        <dd class="col-sm-10">@Model.Message.SentDate.ToString("g")</dd>
    </dl>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Message.MessageId" class="btn btn-primary">Edit</a>
    <a asp-page="./Index" class="btn btn-secondary">Back to Inbox</a>
</div>