@page
@model OfficeManagement.Pages.OfficeEvents.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Events</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Index">Home</a></li>
                        <li class="breadcrumb-item active">Events</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Events</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </div>

        <div class="card-body">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Activity[0].EventName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Activity[0].EventDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Activity[0].EventTime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Activity[0].UsersAssigned)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Activity)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EventTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UsersAssigned)
                            </td>
                            <td>
                                <a asp-page="./Edit" asp-route-id="@item.ActivityId">Edit</a> |
                                <a asp-page="./Details" asp-route-id="@item.ActivityId">Details</a> |
                                <a asp-page="./Delete" asp-route-id="@item.ActivityId">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div>
        <a asp-page="Create" class="btn btn-secondary">Add New Event</a>
    </div>
</div>
