@page
@model OfficeManagement.Pages.UserProfiles.IndexModel

@*@{
    var currentUser = User.Identity.Name; // Assuming you're using ASP.NET Identity
    var currentUserProfile = Model.Profile.FirstOrDefault(p => p.UserId == currentUser || User.IsInRole("Admin"));
}*@

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <!-- Content Header -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/Index">Home</a></li>
              <li class="breadcrumb-item active">User Profile</li>
            </ol>
                </div>
            </div>
        </div>
     </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <h3 class="profile-username text-center">@*@Html.DisplayFor(model => model.Profile[0].ProfileName)*@</h3>
                            <p class="text-muted text-center">@*@Html.DisplayFor(model => model.Profile[0].ProfileTitle)*@</p>
                            <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                        </div>    
                    </div>
            
                    <!-- About -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">About Me</h3>
                        </div>
              
                        <div class="card-body">
                            <strong><i class="fas fa-map-marker-alt mr-1"></i>@Html.DisplayNameFor(model => model.Profile[0].DateJoined)</strong>
                            <p class="text-muted">
                                @*@Html.DisplayFor(model => model.Profile.DateJoined)*@
                            </p>

                            <hr>

                            <strong><i class="fas fa-book mr-1"></i>@Html.DisplayNameFor(model => model.Profile[0].Education)</strong>
                            <p class="text-muted">
                                @*@Html.DisplayFor(model => model.Profile[0].Education)*@
                            </p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i>@Html.DisplayNameFor(model => model.Profile[0].Location)</strong>
                            <p class="text-muted">
                                @*@Html.DisplayFor(model => model.Profile[0].Location)*@
                            </p>

                            <hr>

                            <strong><i class="fas fa-pencil-alt mr-1"></i>@Html.DisplayNameFor(model => model.Profile[0].Skills)</strong>
                            <p class="text-muted">
                                <span class="tag tag-success">Coding</span>
                            </p>
                            <hr>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <h4 class="my-3">About</h4>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <div class="post">
                                        <p>
                                            @*@Html.DisplayFor(model => model.Profile[0].About)*@
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header p-2">
                            <h4 class="my-3">@Html.DisplayNameFor(model => model.Profile[0].Experience)</h4>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <div class="post">
                                        <p>
                                            @*@Html.DisplayFor(model => model.Profile[0].Experience)*@
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header p-2">
                            <h4 class="my-3">@Html.DisplayNameFor(model => model.Profile[0].Hobbies)</h4>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <div class="post">
                                        <p>
                                            @*@Html.DisplayFor(model => model.Profile[0].Hobbies)*@
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-header p-2">
                            <h4 class="my-3">@Html.DisplayNameFor(model => model.Profile[0].Notes)</h4>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="activity">
                                    <div class="post">
                                        <p>
                                            @*@Html.DisplayFor(model => model.Profile[0].Notes)*@
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].ProfileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].ProfileDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].Experience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].Education)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Profile[0].DateJoined)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Profile) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfileDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Experience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Education)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateJoined)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProfileId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProfileId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProfileId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
