@page
@model OfficeManagement.Pages.OfficeBugTracking.IndexModel
@using Microsoft.AspNetCore.Identity
@using OfficeManagement.Areas.Identity.Data
@inject SignInManager<OfficeUser> SignInManager
@inject UserManager<OfficeUser> UserManager

@{
    ViewData["Title"] = "Index";

    // Get the current user or simulate DemoAdmin if the user is null
    var currentUser = await UserManager.GetUserAsync(User) ?? new OfficeUser { UserRole = "DemoAdmin" };
    var isAdmin = currentUser.UserRole == "Admin";
    var isDemoAdmin = currentUser != null && await UserManager.IsInRoleAsync(currentUser, "DemoAdmin");
}

<div class="container">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Bug Tracking</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/Index">Home</a></li>
                        <li class="breadcrumb-item active">Bug Tracking</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    @if (isAdmin || isDemoAdmin) // Show button for admins and demo admins
    {
        <a asp-page="./Create" class="btn btn-secondary">Add New Ticket</a>
    }

    <br />
    <br />

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body table-responsive p-0" style="height: 300px;">
                            <table class="table table-head-fixed text-nowrap">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BugTracking[0].Title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BugTracking[0].Priority)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BugTracking[0].Project)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BugTracking[0].Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BugTracking[0].CreatedDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BugTracking[0].Status)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BugTracking[0].Submitter)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.BugTracking)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Title)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Priority)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Project)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Submitter)
                                            </td>
                                            <td>
                                                <a asp-page="./Edit" asp-route-id="@item.TicketId">Edit</a> |
                                                <a asp-page="./Details" asp-route-id="@item.TicketId">Details</a> |
                                                <a asp-page="./Delete" asp-route-id="@item.TicketId">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>